/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  display: block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  outline: 1px solid black;
}

@media screen and (max-width: 1199px) {
  .overlay {
    height: 400px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  margin-top: 0;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768 px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /*margin-bottom: 302px;*/
}

@media screen and (min-width: 768px) {
  .nav__container {
    margin: 0;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__container {
    margin: 0;
    margin-right: 93px;
  }
}

.nav__logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding: 24px 0;
}

@media screen and (max-width: 767px) {
  .nav__logo {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__logo {
    margin: 0;
  }
}

.nav__logoweb {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.nav__logostudio {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  text-decoration: none;
  padding: 24px 0;
}

.site-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    position: relative;
    bottom: -1px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  padding: 32px 0;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  top: 75px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

@media screen and (max-width: 767px) {
  .site-nav__link--current::after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768 px) {
  .site-nav__link {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .auth-nav {
    display: block;
  }
}

.auth__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .auth__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth__container {
    margin-left: 84px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .auth__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.auth-nav__item {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .auth-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:not(:first-child) {
    margin-left: 50px;
  }
}

.auth-nav__link,
.auth-nav__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.auth-nav__link:hover, .auth-nav__link:focus,
.auth-nav__tel:hover,
.auth-nav__tel:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .auth-nav__link,
  .auth-nav__tel {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #757575;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__tel {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__tel {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
}

.auth-nav__envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .auth-nav__envelope {
    display: none;
  }
}

.auth-nav__smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .auth-nav__smartphone {
    display: none;
  }
}

.auth-nav__envelope,
.auth-nav__smartphone {
  margin-right: 10px;
}

.page-hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
}

@media screen and (max-width: 1199px) {
  .page-hero {
    padding: 118px 0;
  }
}

.page-hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .page-hero__title {
    font-size: 26px;
    line-height: 42px;
  }
}

.page-hero__button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  height: 50px;
}

.modal__button-data {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-data:hover, .modal__button-data:focus {
  fill: #ffffff;
  background: #2196f3;
}

.modal__button-close {
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-hero__button-modal {
  margin-top: 30px;
}

@media screen and (max-width: 1199px) {
  .page-hero__button-modal {
    margin-top: 31px;
  }
}

.subscribe__button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  height: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: initial;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .modal {
    min-height: 609px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    min-height: 609px;
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  cursor: pointer;
}

.modal__checkbox:checked + .modal__icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/full-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal__label {
  font-size: 14px;
  line-height: 1.7;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media screen and (max-width: 1199px) {
  .modal__label {
    font-size: 12px;
  }
}

.modal__link {
  color: #2196f3;
  font-size: 14px;
  line-height: 1.7;
  margin-left: 3px;
}

@media screen and (max-width: 1199px) {
  .modal__link {
    font-size: 12px;
  }
}

.form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.inputs {
  position: relative;
  text-align: left;
  margin: 0;
  padding: 0;
}

.inputs:not(:last-child) {
  margin-bottom: 10px;
}

.inputs__name {
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #757575;
}

.inputs__form {
  margin-top: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputs__text {
  position: relative;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  padding-left: 42px;
}

.inputs__form:focus-within > .inputs__icon {
  fill: #2196f3;
}

.inputs__form:focus-within > .inputs__text {
  border: 1px solid #2196f3;
  outline: none;
}

.inputs__icon {
  fill: #212121;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 29px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputs__placeholder {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.inputs__form:focus-within > .inputs__placeholder {
  border: 1px solid #2196f3;
  outline: none;
}

.inputs textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.inputs textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.inputs textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.inputs textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.benefits {
  padding: 94px 0;
}

@media screen and (max-width: 1199px) {
  .benefits {
    padding: 60px 0;
  }
}

.benefits__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 4 * 60px) / 4);
        flex-basis: calc((100% - 4 * 60px) / 4);
    margin: 15px;
  }
}

.benefits__meta {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .benefits__meta {
    width: 270px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.product__section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .product__section {
    display: none;
  }
}

.product__title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .product__title {
    margin-bottom: 30px;
  }
}

.product__list {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.product__item:not(:last-child) {
  margin-right: 30px;
}

.product__image {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.product__meta {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__name {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  padding: 0;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0;
  width: auto;
}

@media screen and (max-width: 1199px) {
  .team {
    padding: 60px 0;
  }
}

.team__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .team__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 4 * 60px) / 4);
        flex-basis: calc((100% - 4 * 60px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__foto {
  width: 270px;
  height: 260px;
}

@media screen and (max-width: 767px) {
  .team__foto {
    width: 450px;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__foto {
    width: 354px;
    height: auto;
  }
}

.team__name-title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  padding: 0;
}

.team__name {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.team__info {
  padding: 30px 32px;
  text-align: center;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
}

.team__profession {
  display: block;
  text-align: center;
}

.socials__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.socials__icon {
  width: 20px;
  height: 20px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  fill: #ffffff;
  background: #2196f3;
}

.clients__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    /*padding-top: 30px;*/
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
    /*padding-top: 50px;*/
  }
}

.clients__title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

@media screen and (max-width: 1199px) {
  .clients {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.clients__link {
  fill: #afb1b8;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 3 * 45px) / 3);
        flex-basis: calc((100% - 3 * 45px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 90px) / 6);
        flex-basis: calc((100% - 6 * 90px) / 6);
    margin: 15px;
  }
}

.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
  text-decoration: none;
  vertical-align: baseline;
}

@media screen and (max-width: 767px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .page-footer__logo {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__logo {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__logo {
    margin-bottom: 20px;
  }
}

.page-footer__logostudio {
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 1200px) {
  .page-footer__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.page-footer__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.socials__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--footer:focus, .socials__link--footer:hover {
  background: #2196f3;
}

@media screen and (min-width: 1200px) {
  .socials__item--footer:not(:last-child) {
    margin-right: 10px;
  }
}

.page-footer__socials {
  list-style: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .page-footer__socials {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__socials {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__socials {
    margin-left: 70px;
  }
}

.page-footer__subscribe {
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe__form {
    margin-bottom: 20px;
  }
}

.subscribe__input {
  position: relative;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--second-bg-color);
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
    padding: 15px 16px;
  }
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin: 0 auto;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .page-footer__address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__address {
    text-align: center;
  }
}

.address__map {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  text-decoration: none;
  font-style: normal;
  display: block;
}

.address__email {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__email:hover, .address__email:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .address__element:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address__element:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__tel {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__tel:hover, .address__tel:focus {
  color: #2196f3;
}

.address__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
  z-index: 1;
}

@media screen and (max-width: 1199px) {
  .portfolio {
    padding: 60px 0;
  }
}

.card-set__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set__image {
  position: relative;
  overflow: hidden;
}

.card-set__image::before {
  background-color: rgba(33, 150, 243, 0.9);
}

.card-set__image::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__text {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0;
  margin: 0;
}

.card-set__link {
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover, .card-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__link:hover .card-set__image::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-set__link:hover .card-set__image::before,
.card-set__link:focus .card-set__image::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__item {
  width: 100%;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.card-set__item:hover .card-set__text,
.card-set__item:focus .card-set__text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
}

.info__meta {
  padding-bottom: 4px;
}

.info__name {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  margin: 0;
  padding: 0;
  letter-spacing: .06em;
}

.info__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.filter {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__item {
  margin-bottom: 16px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:hover, .filter__item:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__buttons {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__buttons:hover, .filter__buttons:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__buttons--active {
  color: #ffffff;
  background-color: #2196f3;
}

.filter__buttons--active:active {
  color: #ffffff;
  background-color: #2196f3;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: none;
  }
}

.navigation__container {
  width: 100%;
  padding: 16px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .navigation__container {
    margin: 0;
    padding: 0;
  }
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.navigation__button .navigation__icon-menu {
  display: none;
}

.navigation__button.is-open .navigation__icon-menu {
  display: block;
}

.navigation__button.is-open .navigation__icon-cross {
  display: none;
}

.page-header {
  position: relative;
}

.menu__container {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 48px;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow-y: scroll;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu__container.is-open {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}

.menu__container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navsocials {
    display: none;
  }
}

.navsocials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navsocials__item:first-child {
  padding-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.navsocials__item:nth-child(2) {
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.navsocials__item:nth-child(3) {
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.navsocials__item:last-child {
  padding-left: 5px;
}

.navsocials__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .navtablet {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navtablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .navtablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navtablet__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */