.clients__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin: -15px;
    padding-top: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin: -15px;
    padding-top: 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    padding-top: 50px;
  }
}

.clients__title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;

  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.clients__link {
  fill: #afb1b8;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: $border-radius;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $buttons-bg-color;
    border: 1px solid $buttons-bg-color;
  }

  &:focus {
    fill: $buttons-bg-color;
    border: 1px solid $buttons-bg-color;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__logo {
  width: 106px;
  height: 60px;
}

.clients__item {
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 45px) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 90px) / 6);
    margin: 15px;
  }
}
