.page-hero {
  background-color: $second-bg-color;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.page-hero__title {
  color: $second-accent-text-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
